@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Space+Mono&family=Special+Elite&display=swap');

body {
    font-family: Space Mono, serif;
}

h1 {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .125em;
    color: #fe4655;
}

h2 {
    font-family: Special Elite, serif;
}

i.interests-fa {
    font-size: 2em;
}

.page-section {
    /*add padding*/
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    display: flex;
    flex-direction: column;
}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

span {
    font-family: Roboto, sans-serif;
    font-size: 0.8em;
    font-style: italic;
    color: darkgrey;
}

.bottom-section {
    background-image: url("../src/images/world-g368a4b51c_1280.png");
    background-color: #212529;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.form-group {
    margin-bottom: 1em;
}
.error-container {
    border: solid 2px #fe4655;
    border-radius: 8px;
    padding: 0.6em;
    background-color: white;
}

.error-message {
    font-size: 1em;
    color: #fe4655;
    font-family: Special Elite, serif;
}

/*BOOTSTRAP OVERRIDES*/

.btn-primary {
    color: #fff;
    background-color: #fe4655 !important;
    border-color: #fe4655;
}
.btn-primary:hover {
    color: #fff;
    background-color: #bb0f1d;
    border-color: #bb0f1d;
}
